$hl-color: #008888;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  height: 100%;
  font: 100%/1.5 sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
}

@media (min-width: 768px) {
  html {
    font-size: 125%;
    max-width: 42em;
  }
}

h1, h2, h3, h4 {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.25;
  color: #333;
}

a {
  color: $hl-color;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

p {
  margin: 1em 0;
  line-height: 1.5;
}

code {
  background: #eee;
  padding: 5px;
}

pre {
  padding: 10px;
  border: 1px solid #ccc;
  overflow-x: auto;
}

pre code {
  background: none;
  padding: none;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px $hl-color;
}

table {
  font-size: 1rem;
  text-align: left;
  caption-side: bottom;
  margin-bottom: 2em;
}

table * {
    border: none;
 }
table thead, table tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

table tr:nth-child(even) {
  background-color: rgba(200, 200, 200, 0.2);
}

table tbody {
  display: block;
  max-height: 70vh;
  overflow-y: auto;
}

table td, table th {
  padding: 0.25em;
}

figure {
  margin: 1em 0;
}

header {
  display: flex;
  justify-content: space-between;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

header a + a {
  margin-left: 1rem;
}

footer {
  margin-top: 50px;
  height: 40px;
}

hr {
    border: #ccc 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

li {
    padding-left: 0.2em;
    margin-left: 1em;
}

ul.tag-list {
  padding: 0;
  margin: 0;
  height: 1.0em;
}

ul.tag-list li {
  display: block;
  float: left;
  padding: 0;
  margin: 0 10px 0 0;
  font-size: 65%;
  line-height: 1.0em;
  font-weight: bold;
  color: #666;
}

ul.blog-post-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.blog-post-list > li {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

ul.blog-post-list h3 {
  padding: 0;
  margin: 5px 0 5px 0;
}