<!DOCTYPE html
<html lang="en">

<head>
<title>Personal webpage and blog of Jan-Willem Buurlage</title>
<link rel="stylesheet" href="/custom.css">
</head>

<body>
    <header>
        <div>
            <div>
                <ul>
                    {% block nav %}
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="/academic/">Academic</a></li>
                    {% endblock nav %}
                </ul>
            </div>
        </div>
    </div>
    </div>
    </header>

    <div class="container">
    {% block content %}

    <main>
    {{ section.content | safe }}
    </main>

    {% endblock content %}
    </div>
</div>

</body>
</html>
