<!DOCTYPE html
<html lang="en">
<head>
<title>Personal webpage and blog of Jan-Willem Buurlage</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/custom.css">
</head>
<body>
    <header>
    <nav>
      {% block nav %}
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
      <a href="/academic/">Academic</a>
      {% endblock nav %}
    </nav>
    </header>

    <div class="container">
    {% block content %}

    <main>
    {{ section.content | safe }}
    </main>

    {% endblock content %}
    </div>
</div>

</body>
</html>
