{% extends "index.html" %}

{% block nav %}
<li class="nav-item"><a class="navbar-brand nav-link" href="/">Home</a></li>
<li class="nav-item"><a class="navbar-brand nav-link active" href="/blog/">Blog</a></li>
{% endblock %}

{% block content %}
<article>
<div class='container-fluid'>
    <div class="row pt-5">
        <a href="/blog/"><button type="button" class="btn btn-outline-primary">Back to posts</button></a>

    </div>
        <div class="row py-3">
        <h3>
            <small class="text-muted">{{ page.date }}</small> <br />
        </h3>
        <h1>
            {{ page.title | safe }}
        </h1>
        <p class="lead" style="font-family:serif;color:grey;">
            <em>{{ page.extra.author }}</em>
        </p>
    </div>

    <section class="post">
        <article>
            {{ page.content | safe }}
        </article>
    </section>
</div>
</article>
{% endblock %}
